{% extends "ig/dashboard/create/base.html" %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button name="finish" value="true">Dokončit</button>
    <button name="finish" value="false">přidat další položku</button>
    </form>
{%endblock%}
