{% extends "ig/dashboard/edit/base.html" %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
        {% for field in form %}
            {% if not field.is_hidden %}
            <div class="label">
            {{ field.label_tag }}
            {% endif %}
            <div class="input">
            <p> {{ field.errors }}
            {{ field }}
            </div>
            {% if not field.is_hidden %}
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}  
    <input type="submit" value="Uložit">
    </form>
{%endblock%}
