{% extends "base.html" %}
{% block title %}
Invoice Generator
{% endblock %}
{%block body%}
    {%block menu %}
        <a href={% url ig.dashboard.home %}>Faktury</a> | 
        <a href={% url ig.dashboard.create.invoice %}>Přidat fakturu</a> | 
        <a href={% url ig.dashboard.adresar %}>Adresář</a> | 
        <a href={% url ig.dashboard.export.xml %}>XML export</a> | 
        <a href={% url ig.dashboard.settings.basic %}>Nastavení</a> | 
        <a href={% url ig.dashboard.logout %}>Odhlásit se</a>
    {% endblock%}
    <hr size="1">
    {% block nav %}
    home
    {% endblock%}
    <hr size="1">
    {% block content %}
    {% endblock %}
    <hr border="1">
    {% block footer%}
        <center>
        <p>2011 Ondrej Sika</p>
        </center>
    {%endblock%}
{%endblock%}
