{% extends "ig/dashboard/base.html" %}
{% block content %}
    <table width="100%">
    <tr><td>číslo</td><td>zákazník</td><td>datum</td><td>cena</td><td></td><td></td></tr>
    {% for invoice in invoices %}
        <tr><td>{{invoice.number}}</td><td>{{invoice.number}}</td><td>{{invoice.date_create}}</td><td>{{invoice.price_vat}} CZK</td><td><a href="{% url ig.generator.download invoice.pk %}">download</a></td><td><a href="{% url ig.dashboard.edit.invoice invoice.pk %}">edit</a></td></tr>
    {% endfor %}
    </table>
{% endblock %}
