{% extends "ig/dashboard/base.html" %}
{% block nav %}
    home > adresar
{% endblock%}
{% block content %}
    <a href={% url ig.dashboard.adresar.customer %}>Zákazník</a>
    <br><a href={% url ig.dashboard.adresar.customer.create %}>Přidat zákazníka</a>
    <p><a href={% url ig.dashboard.adresar.seller %}>Prodejce</a>
    <br><a href={% url ig.dashboard.adresar.seller.create %}>Přidat prodejce</a>
{% endblock %}
