{% extends "ig/dashboard/adresar/base.html" %}

{% block content %}
    <table width="100%">
    <tr><td>jméno</td><td>IČ</td><td>DIČ</td><td>adresa</td><td></td></tr>
    {% for adress in adress_pl %}
        <tr><td>{{adress.name}}</td><td>{{adress.ic}}</td><td>{{adress.dic}}</td><td>{{adress.adress_inline}}</td><td><a href="{% if type == "c"%}{% url ig.dashboard.adresar.customer.edit adress.pk%}{%else%}{% url ig.dashboard.adresar.seller.edit adress.pk%}{%endif%}">edit</a></td></tr>
    {% endfor %}
    </table>
{% endblock %}

