{% extends "ig/dashboard/export/form.html" %}
{% block nav %}
        home > export > xml > download
{% endblock%}
{% block content %}
    <a href="{% url ig.export.xml.download xml.pk %}">download</a> 
    <a href="{% url ig.export.xml.in_browser xml.pk %}" target="blank">in browser</a>
    <p><textarea cols="80" rows="30">{{xml.content}}</textarea>
{%endblock%}
