<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="Ondrej Sika">
    {% block meta %}{% endblock %}{% block script %}{% endblock %}{% block style %}{% endblock %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
